<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="css/estilo.css">
    
    </head>
    <body>
        <div class ="container bg-primary">
            <!-- 12 pts -->
            <div class = "row">
                <h1> Botella de Klein </h1>
                <div class = "col-9" style="background-color: rgb(227, 240, 240)";>
                    
                    
                    <p1> En topología, una botella de Klein es una superficie no orientable abierta cuya característica de Euler es igual a 0; no tiene interior ni exterior. Otros objetos no orientables relacionados son la banda de Möbius y el plano proyectivo real. Mientras que una banda de Möbius es una superficie con un solo borde, una botella de Klein no tiene borde. Tampoco lo tiene una esfera, aunque ésta sí es orientable.

                        La botella de Klein fue descrita por primera vez en 1882 por el matemático alemán Felix Klein. El nombre original del objeto no fue el de botella de Klein (en alemán Kleinsche Flasche), sino el de Superficie de Klein (en alemán Kleinsche Fläche). El traductor de la primera referencia al objeto del alemán al inglés confundió las palabras. Como la apariencia de la representación tridimensional recuerda a una botella, casi nadie se dio cuenta del error.</p1>
                </div>
                <div class = "col-3" style="background-color: rgb(24, 227, 227)";>
                    <img width ="190%"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Klein_bottle.svg/320px-Klein_bottle.svg.png">
                </div>
            </div>
        </div>
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>